<div class="weapon-box">

    <div class="weapon-header">

        <span>{{localize "EXPANSE.Weapons" }}</span>

    </div>

    <ul class="items weapon-list">
        <div class="box-header">
            <span>{{localize "EXPANSE.Name" }}</span>
            <span>{{localize "EXPANSE.Damage" }}</span>
            <span>{{localize "EXPANSE.AttackBonus" }}</span>
            <span>{{localize "EXPANSE.MaxRange" }}</span>
            <span>{{localize "EXPANSE.Focus" }}</span>
            <span>{{localize "EXPANSE.Hit" }}</span>
            <span>{{localize "EXPANSE.Damage" }}</span>
            <span></span>
        </div>

        {{#each weapon as |weapon id|}}
        <li class="item weapon" data-item-id="{{weapon.id}}">
            <div class="weapon-row">
                <div class="weapon-list-item">
                    {{weapon.name}}
                </div>
                <div class="weapon-list-item">
                    {{weapon.system.damage}}D{{weapon.system.dieFaces}}
                    {{#if weapon.system.hasBonusDamage}}
                    {{#ifCond weapon.system.bonusDamage '>' '0'}}+{{/ifCond}}
                    {{#ifCond weapon.system.bonusDamage '<' '0' }}{{/ifCond}} {{weapon.system.bonusDamage}} {{/if}}
                        </div>
                        <!-- route bonus through prepData pick up bonus used in mod + if relavant focus is checked-->
                        <div class="weapon-list-item">
                            {{weapon.system.attack}}
                        </div>

                        <div class="weapon-list-item">
                            {{weapon.system.rangemax}}
                        </div>

                        <div class="weapon-list-item">
                            <span>+2</span>
                            <input type="checkbox" class="expanse-checkbox weapon-usefocus"
                                name="weapon.system.usefocus" data-item-id={{weapon.id}} {{checked
                                weapon.system.usefocus}}>
                            {{#ifCond weapon.system.usefocus '&&' ../attributes.level.bonus}}
                            <span>+1</span>
                            <input type="checkbox" class="expanse-checkbox weapon-usefocusplus"
                                name="weapon.system.usefocusplus" data-item-id={{weapon.id}} {{checked
                                weapon.system.usefocusplus}}>
                            {{/ifCond}}
                        </div>

                        <div class="weapon-list-item">
                            <div class="roll-button pc-attack" data-roll="weapon-attack" data-item-id="{{weapon.id}}"
                                data-item-abil="{{weapon.system.tohitabil}}"></div>
                        </div>

                        <div class="weapon-list-item">
                            <div class="roll-button pc-damage" data-roll="weapon-damage" data-item-id="{{weapon.id}}"
                                data-item-abil="{{weapon.system.tohitabil}}"></div>
                        </div>

                        <div class="item-controls weapon-list-item">
                            <a class="item-control item-edit" title="Edit Weapon"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Weapon"><i class="fas fa-trash"></i></a>
                        </div>
                </div>

        </li>
        {{/each}}
    </ul>
    <a class="item-control item-create" data-type="weapon" title="Add Weapon">
        <i class="fas fa-plus"></i>
    </a>
</div>

<div class="armor-box">

    <div class="armor-header">

        <span>{{localize "EXPANSE.Armor" }}</span>

    </div>

    <ul class="items armor-list">
        <div class="box-header">
            <span>{{localize "EXPANSE.Name" }}</span>
            <span>{{localize "EXPANSE.Type" }}</span>
            <span>{{localize "EXPANSE.ArmorBonus" }}</span>
            <span>{{localize "EXPANSE.ArmorPenalty" }}</span>
            <span>{{localize "EXPANSE.Equipped" }}</span>
            <span></span>
        </div>
        {{#each armor as |armor key|}}
        <li class="item armor" data-item-id="{{armor.id}}">
            <div class="armor-row">
                <div class="armor-list-item">
                    {{armor.name}}
                </div>
                <div class="armor-list-item">
                    {{armor.system.type}}
                </div>
                <div class="armor-list-item">
                    {{armor.system.bonus}}
                </div>
                <div class="armor-list-item">
                    {{armor.system.penalty}}
                </div>
                <div class="armor-list-item">
                    <input type="checkbox" class="expanse-checkbox armor-equip" data-item-id={{armor.id}}
                        name="system.armor.equip" {{checked armor.system.equip}}>
                </div>
            </div>

            <div class="item-controls talent-item-control">
                <a class="item-control item-edit" title="Edit Armor"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Armor"><i class="fas fa-trash"></i></a>
            </div>

        </li>
        {{/each}}
    </ul>

    <a class="item-control item-create" data-type="armor" title="Add Armor">
        <i class="fas fa-plus"></i>
    </a>

    <div class="armor-header">

        <span>{{localize "EXPANSE.Shield" }}</span>

    </div>

    <ul class="items armor-list">
        <div class="box-header">
            <span>{{localize "EXPANSE.Name" }}</span>
            <span>{{localize "EXPANSE.Type" }}</span>
            <span>{{localize "EXPANSE.DefenseBonus" }}</span>
            <span>{{localize "EXPANSE.Equipped" }}</span>
            <span></span>
        </div>

        {{#each shield as |shield key|}}
        <li class="item armor" data-item-id="{{shield.id}}">
            <div class="armor-row">
                <div class="armor-list-item">
                    {{shield.name}}
                </div>
                <div class="armor-list-item">
                    {{shield.system.type}}
                </div>
                <div class="armor-list-item">
                    {{shield.system.bonus}}
                </div>
                <div class="armor-list-item">
                    <input type="checkbox" class="expanse-checkbox shield-equip" data-item-id={{shield.id}}
                        name="system.shield.system.equip" {{checked shield.system.equip}}>
                </div>
            </div>

            <div class="item-controls talent-item-control">
                <a class="item-control item-edit" title="Edit Shield"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Shield"><i class="fas fa-trash"></i></a>
            </div>

        </li>
        {{/each}}
    </ul>
    <a class="item-control item-create" data-type="shield" title="Add Shield">
        <i class="fas fa-plus"></i>
    </a>
</div>

<div class="misc-gear">
    <div class="box-header">
        <span>{{localize "EXPANSE.MiscellaneousItems" }}</span>
    </div>

    <div class="income-items-row">
        <div class="income">
            <div class="income-col">

                <span>{{localize "EXPANSE.Income" }}</span>

                <input class="age-income" type="text" name="system.info.income" value="{{system.info.income}}"
                    data-dtype="Number" />
            </div>

            <div class="income-btn income-roll" data-roll="3d6+@system.info.income">
            </div>

        </div>
        <div class="extra-equipment">
            <span>Equipment</span>
            <input type="text" name="system.info.equipment" value="{{system.info.equipment}}" data-dtype="String" />
        </div>
    </div>
</div>