<div class="attribute-row">

    <div id="speed" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Speed"}}</span>
        </div>
        <input type="text" name="system.attributes.speed.modified" value="{{attributes.speed.modified}}"
            data-dtype="Number" />
    </div>

    <div id="defense" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Defense"}}</span>
        </div>
        <input type="text" name="system.attributes.defense.modified" value="{{attributes.defense.modified}}"
            data-dtype="Number" />
    </div>

    <div id="toughness" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Toughness"}}</span>
        </div>
        <input type="text" name="system.attributes.toughness.modified" value="{{attributes.toughness.modified}}"
            data-dtype="Number" />
    </div>

    <div id="armor" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Armor"}}</span>
        </div>
        <input type="text" name="system.attributes.armor.modified" value="{{attributes.armor.modified}}"
            data-dtype="Number" />
    </div>

    <div id="penalty" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Penalty"}}</span>
        </div>
        <input type="text" name="system.attributes.penalty.modified" value="{{attributes.penalty.modified}}"
            data-dtype="Number" />
    </div>

    <div id="move" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Move"}}</span>
        </div>
        <input type="text" name="system.attributes.move.modified" value="{{attributes.move.modified}}"
            data-dtype="Number" />
    </div>

    <div id="run" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Run"}}</span>
        </div>
        <input type="text" name="system.attributes.run.modified" value="{{attributes.run.modified}}"
            data-dtype="Number" />
    </div>

    <div id="level" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Level"}}</span>
        </div>
        <input type="text" name="system.attributes.level.modified" value="{{attributes.level.modified}}"
            data-dtype="Number" />
    </div>

    <div id="fortune" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Fortune"}}</span>
        </div>
        <input type="text" name="system.attributes.fortune.value" value="{{attributes.fortune.value}}"
            data-dtype="Number" />
    </div>

    <div id="fortune" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.MaxFortune"}}</span>
        </div>
        <input type="text" name="system.attributes.fortune.max" value="{{attributes.fortune.max}}"
            data-dtype="Number" />
    </div>

    <div id="stuntpoints" class="attribute-box">
        <div class="box-header">
            <span>{{localize "EXPANSE.Stuntpoints"}}</span>
        </div>
        <input type="text" name="system.attributes.stuntpoints.modified" value="{{attributes.stuntpoints.modified}}"
            data-dtype="Number" />
    </div>

</div>