{{#each abilities as |ability key|}}
<div class="age-abilities">

    <div class="ability-field">

        <div class="ability-name">
            <span>{{localize (concat "EXPANSE." key) }}</span>

            {{#ifCond key '==' 'dexterity'}}
            <div class="ability-penalty-box">
                <span>Penalty</span>
                <input type="checkbox" class="expanse-checkbox" name="system.abilities.{{key}}.usePenalty" {{checked
                    ability.usePenalty}}>
            </div>
            {{/ifCond}}

            <div class="ability-focus-box">
                <span>{{localize "EXPANSE.Focus" }} +2</span>
                <input type="checkbox" class="expanse-checkbox" name="system.abilities.{{key}}.useFocus" {{checked
                    ability.useFocus}}>
                {{#ifCond ability.useFocus '&&' ../attributes.level.bonus}}
                <span>+1</span>
                <input type="checkbox" class="expanse-checkbox" name="system.abilities.{{key}}.useFocusPlus" {{checked
                    ability.useFocusPlus}}>
                {{/ifCond}}
            </div>

        </div>
        <!--<input class="age-focus" type="text" name="system.abilities.{{key}}.focus" value="{{ability.focus}}"
            data-dtype="String" />-->
        <ul class="age-focus">
            {{#each ../focuses as |focus key|}}
            {{#ifCond focus.system.ability '==' ability.label }}
            <li class="focus-cap item" data-item-id="{{focus._id}}" data-item-type="focus"><span>{{focus.name}}</span>
                <span class="item-controls flexrow spec-controls">
                    <a class="item-control item-delete" title='{{localize "ITEM.DeleteItem"}}'><i
                            class="fas fa-trash"></i></a>
                </span>
            </li>
            {{/ifCond}}
            {{/each}}

        </ul>


    </div>

    <div class="rating-box">

        <input class="age-ability" type="number" placeholder={{localize "EXPANSE.RatingTitle" }}
            name="system.abilities.{{key}}.rating" value="{{ability.rating}}" data-dtype="Number" />

        <div class="ability-btn rollable roll-button" data-roll="3d6+@abilities.{{key}}.rating" data-label="{{key}}">
        </div>

    </div>
</div>

{{/each}}