<div class="biography-box">

    <div class="box-header">
        <span>{{localize "EXPANSE.Description" }}</span>
    </div>
    <div class="biography-container">
        {{editor enrichment.system.bio.appearance target="system.bio.appearance" button=true owner=owner
        editable=true}}
    </div>
</div>

<div class="biography-box">

    <div class="box-header">
        <span>{{localize "EXPANSE.Relationships" }}</span>
    </div>

    <div class="biography-container">
        {{editor enrichment.system.bio.relationships target="system.bio.relationships" button=true
        owner=owner
        editable=true}}
    </div>
</div>

<div class="biography-box">

    <div class="box-header">
        <span>{{localize "EXPANSE.Goals" }}</span>
    </div>

    <div class="biography-container">
        {{editor enrichment.system.bio.goals target="system.bio.goals" button=true owner=owner
        editable=true}}
    </div>
</div>