<!-- Conditions Row -->

<div class="box-header">

    <!-- Header -->

    <span>{{localize "EXPANSE.Conditions" }}</span>

</div>

<div class="condition-container">

    {{#each conditions as |conditions key|}}

    <div class="condition" title="{{localize (concat "EXPANSE." key "Desc") }}">

        <input type="checkbox" class="expanse-checkbox active-condition" name="{{key}}" {{checked conditions.active}}>

        <span class="condition-hover">{{localize (concat "EXPANSE." key) }}</span>

    </div>

    {{/each}}

</div>