<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet">

        <header class="sheet-header">

            <div class="info-header">

                <div class="char-image">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" name="img" />
                </div>


                <div class="info-col">

                    <div class="expanse-title">
                        <img class="title-image" src="../systems/expanse/ui/Expanse-Banner.png" />
                    </div>

                    <div class="char-info-row">

                        <div class="information">

                            <label for="name" class="info-label">{{localize "EXPANSE.Name" }}</label>

                            <input class="info-input" type="text" name="name" value="{{actor.name}}"
                                data-dtype="String" />

                        </div>

                        <div class="information">

                            <label for="system.info.origin" class="info-label">{{localize "EXPANSE.Origin" }}</label>

                            <input class="info-input" type="text" name="system.info.origin" value="{{info.origin}}"
                                data-dtype="String" />

                        </div>

                        <div class="information">

                            <label for="system.info.background" class="info-label">{{localize "EXPANSE.Background"}}</label>

                            <input class="info-input" type="text" name="system.info.background"
                                value="{{info.background}}" data-dtype="String" />

                        </div>

                        <div class="information">

                            <label for="system.info.social" class="info-label">{{localize "EXPANSE.Social" }}</label>

                            <input class="info-input" type="text" name="system.info.social" value="{{info.social}}"
                                data-dtype="String" />

                        </div>

                        <div class="information">

                            <label for="system.info.profession" class="info-label">{{localize "EXPANSE.Profession"
                                }}</label>

                            <input class="info-input" type="text" name="system.info.profession"
                                value="{{info.profession}}" data-dtype="String" />

                        </div>

                        <div class="information">

                            <label for="system.info.drive" class="info-label">{{localize "EXPANSE.Drive"}}</label>

                            <input class="info-input" type="text" name="system.info.drive" value="{{info.drive}}"
                                data-dtype="String" />

                        </div>
                    </div>
                </div>

            </div>

            <div class="attribute-header">

                <!-- Attributes Row -->

                {{> systems/expanse/templates/sheet/sections/player-attributes.html}}

                <!-- Add Fortune doots here -->

            </div>

        </header>

        <nav class="sheet-tabs tabs" data-group="primary">

            <a class="item" data-tab="abilities">{{localize "TAB.Abilities"}}</a>
            <a class="item" data-tab="talents">{{localize "TAB.TalentsStunts"}}</a>
            <a class="item" data-tab="gear">{{localize "TAB.Equipment"}}</a>
            <a class="item" data-tab="biography">{{localize "TAB.Biography"}}</a>
            <a class="item" data-tab="notes">{{localize "TAB.Notes"}}</a>

        </nav>

        <section class="sheet-body">

            <div class="tab abilities" data-group="primary" data-tab="abilities">

                {{> systems/expanse/templates/sheet/sections/player-abilities.html}}

                <div class="conditions-box">

                    {{> systems/expanse/templates/sheet/sections/player-conditions.html}}

                </div>

            </div>

            <div class="tab talents" data-group="primary" data-tab="talents">

                {{> systems/expanse/templates/sheet/sections/player-talents.html}}

            </div>

            <div class="tab gear" data-group="primary" data-tab="gear">

                <div class="equipment">

                    {{> systems/expanse/templates/sheet/sections/player-equipment.html}}

                </div>

            </div>

            <div class="tab biography" data-group="primary" data-tab="biography">

                {{> systems/expanse/templates/sheet/sections/player-biography.html}}

            </div>

            <div class="tab notes" data-group="primary" data-tab="notes">

                {{> systems/expanse/templates/sheet/sections/player-notes.html}}

            </div>

        </section>
    </div>

</form>