<form class="{{cssClass}} item" autocomplete="off">

    <div class="npc-box" data-tab="npc">

        <div class="npc-header-box">

            <div class="npc-header-block">
                <span>
                    <input type="text" name="name" value="{{actor.name}}" data-dtype="String" />
                </span>
            </div>

            <div class="box-header">
                <span class="">{{localize "EXPANSE.Abilities" }} ({{localize "EXPANSE.Focuses" }})</span>
            </div>

        </div>

        <div class="npc-ability-block">
            {{#each abilities as |ability key|}}
            <div class="npc-ability" data-item-id="{{item.id}}">
                <span class="npc-ability-name rollable" data-roll="3d6+@abilities.{{key}}.rating"
                    data-label="{{key}}"><b>{{localize (concat "EXPANSE." key) }}</b></span>
                <div class="npc-ability-value">
                    <input type="text" name="system.abilities.{{key}}.rating" value="{{rating}}" data-dtype="Number" />
                </div>
                <div class="npc-ability-focus">
                    <input type="text" name="system.abilities.{{key}}.focus" value="{{focus}}" data-dtype="String" />
                </div>
                <div class="npc-ability-usefocus">
                    <input type="checkbox" class="expanse-checkbox" name="system.abilities.{{key}}.useFocus" {{checked
                        useFocus}}>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="npc-attribute-block">
            <div class="box-header">
                <span class="">{{localize "EXPANSE.Speed" }}</span>
                <span class="">{{localize "EXPANSE.Fortune" }}</span>
                <span class="">{{localize "EXPANSE.Defense" }}</span>
                <span class="">AR + TOU</span>
            </div>

            <div class="npc-attributes-box">
                {{#each attributes as |attribute key|}}
                <div class="npc-attribute-value">
                    <input type="text" name="system.attributes.{{key}}.value" value="{{value}}" data-dtype="Number" />
                </div>
                {{/each}}
            </div>

        </div>

        <div class="npc-weapon-box">

            <ul class="items npc-weapon-list">
                <div class="box-header">
                    <span>{{localize "EXPANSE.Weapon" }}</span>
                    <span>{{localize "EXPANSE.Damage" }}</span>
                    <span>{{localize "EXPANSE.AttackBonus" }}</span>
                    <span>{{localize "EXPANSE.Focus" }}</span>
                    <span>{{localize "EXPANSE.Hit" }}</span>
                    <span>{{localize "EXPANSE.Damage" }}</span>
                    <span></span>
                </div>

                {{#each weapon as |weapon id|}}
                <li class="item npc-weapon" data-item-id="{{weapon.id}}">
                    <div class="npc-weapon-row">
                        <div class="npc-weapon-list-item">
                            {{weapon.name}}
                        </div>

                        <div class="npc-weapon-list-item">
                            {{weapon.system.damage}}D{{weapon.system.dieFaces}}
                            {{#if
                            weapon.system.hasBonusDamage}}
                            {{#ifCond weapon.system.bonusDamage '>' '0'}}+{{/ifCond}}
                            {{#ifCond weapon.system.bonusDamage '<' '0' }}{{/ifCond}}
                                {{weapon.system.bonusDamage}} {{/if}} 
                        </div>

                        <div class="npc-weapon-list-item">
                            {{weapon.system.attack}}
                        </div>
                        <!-- route bonus through prepData pick up bonus used in mod + if relavant focus is checked-->

                        <div class="npc-weapon-list-item">
                            <input type="checkbox" class="expanse-checkbox weapon-usefocus"
                                name="weapon.system.usefocus" data-item-id={{weapon.id}} {{checked
                                weapon.system.usefocus}}>
                        </div>

                        <div class="weapon-list-item">
                            <div class="roll-button npc-attack" data-roll="weapon-attack"
                                data-item-id="{{weapon.id}}" data-item-abil="{{weapon.system.tohitabil}}">
                            </div>
                        </div>

                        <div class="weapon-list-item">
                            <div class="roll-button npc-damage" data-roll="weapon-damage"
                                data-item-id="{{weapon.id}}" data-item-abil="{{weapon.system.tohitabil}}">
                            </div>
                        </div>

                        <div class="item-controls npc-weapon-list-item">
                            <a class="item-control item-edit" title="Edit Talent"><i
                                    class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Talent"><i
                                    class="fas fa-trash"></i></a>
                        </div>
                        </div>
                </li>
                {{/each}}
            </ul>

            {{#if armor}}
            <!--<div class="armor-header">

                <span>Armor</span>

            </div>-->

            <ul class="items armor-list">
                <div class="box-header">
                    <span>{{localize "EXPANSE.Name" }}</span>
                    <span>{{localize "EXPANSE.Type" }}</span>
                    <span>{{localize "EXPANSE.ArmorBonus" }}</span>
                    <span>{{localize "EXPANSE.ArmorPenalty" }}</span>
                    <span></span>
                </div>
                {{#each armor as |armor key|}}
                <li class="item armor" data-item-id="{{armor.id}}">
                    <div class="armor-row">
                        <div class="armor-list-item">
                            {{armor.name}}
                        </div>
                        <div class="armor-list-item">
                            {{armor.system.type}}
                        </div>
                        <div class="armor-list-item">
                            {{armor.system.bonus}}
                        </div>
                        <div class="armor-list-item">
                            {{armor.system.penalty}}
                        </div>
                    </div>

                    <div class="item-controls talent-item-control">
                        <a class="item-control item-edit" title="Edit Talent"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Talent"><i class="fas fa-trash"></i></a>
                    </div>

                </li>
                {{/each}}
            </ul>
            {{/if}}

            {{#if shield}}
            <!--<div class="armor-header">

                <span>Shield</span>

            </div>-->

            <ul class="items armor-list">
                <div class="box-header">
                    <span>{{localize "EXPANSE.Name" }}</span>
                    <span>{{localize "EXPANSE.Type" }}</span>
                    <span>{{localize "EXPANSE.DefenseBonus" }}</span>
                    <span>{{localize "EXPANSE.Equipped" }}</span>
                    <span></span>
                </div>

                {{#each shield as |shield key|}}
                <li class="item armor" data-item-id="{{shield.id}}">
                    <div class="armor-row">
                        <div class="armor-list-item">
                            {{shield.name}}
                        </div>
                        <div class="armor-list-item">
                            {{shield.system.type}}
                        </div>
                        <div class="armor-list-item">
                            {{shield.system.bonus}}
                        </div>
                    </div>

                    <div class="item-controls talent-item-control">
                        <a class="item-control item-edit" title="Edit Talent"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Talent"><i class="fas fa-trash"></i></a>
                    </div>

                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>

        <div class="npc-specials-block">
            <div class="box-header">
                <span class="">{{localize "EXPANSE.SpecialFeatures" }}</span>
            </div>
            <div class="npc-special-box">
                <div class="npc-special-rows">

                    <span>{{localize "EXPANSE.Stunts" }}:</span>
                    <input type="text" name="system.stunts" value="{{system.stunts}}" data-dtype="String" />
                </div>
                <div class="npc-special-rows">
                    <span>{{localize "EXPANSE.Talents" }}:</span>
                    <input type="text" name="system.talent1" value="{{system.talent1}}" data-dtype="String" />

                </div>
                <div class="npc-special-rows">
                    <input type="text" name="system.talent2" value="{{system.talent2}}" data-dtype="String" />
                </div>
                <div class="npc-special-rows">

                     <span>{{localize "EXPANSE.Equipment" }}:</span>
                    <input type="text" name="system.equipment1" value="{{system.equipment1}}" data-dtype="String" />

                </div>
                <div class="npc-special-rows">
                    <input type="text" name="system.equipment2" value="{{system.equipment2}}" data-dtype="String" />
                </div>

            </div>

        </div>

        <div class="npc-notes-box">

            <div class="box-header">
                <span>{{localize "EXPANSE.Description" }}</span>
            </div>

            <div class="npc-notes-container">
                {{editor enrichment.system.notes target="system.notes" button=true owner=owner editable=true}}
            </div>
        </div>

        <div class="npc-image-block">
            <div class="box-header">
                <span>{{localize "EXPANSE.Images" }}</span>
            </div>

            <div class="npc-images">
                <div class="npc-char-image">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" name="img" title="Character Portrait" />
                </div>
            </div>
        </div>

        <div class="npc-threat-footer">

            <span>{{localize "EXPANSE.Threat" }}:</span>
            <input type="text" name="system.threat" value="{{system.threat}}" data-dtype="String" />

        </div>


    </div>

</form>