<form class="{{cssClass}} item" autocomplete="off">

    <div class="shields-box">
        <div class="shields-header-box">
            <div class="shields-header-block">
                <input type="text" name="name" value="{{name}}" data-dtype="String" />
            </div>
        </div>

        <div class="item shields-block">
            <div class="box-header">
                <span class="">{{localize "EXPANSE.shield.type"}}</span>
                <span class="">{{localize "EXPANSE.shield.Bonus"}}</span>
                <span class="">{{localize "EXPANSE.Cost"}}</span>
            </div>

            <div class="shields-detail-box">
                <div class="shields-attribute">
                    <input type="text" name="data.type" value="{{data.type}}"  data-dtype="String" />
                </div>
                <div class="shields-attribute">
                    <input type="text" name="data.bonus" value="{{data.bonus}}" data-dtype="Number" />
                </div>
                <div class="shields-attribute">
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
                </div>
                <div class="hidden-value">
                    <input type="checkbox" class="expanse-checkbox" name="data.equip"
                        {{checked data.equip}} data-dtype="Boolean">
                </div>
            </div>
        </div>

        <div class="shields-desc-block">
            <div class="box-header">
                <span class="">{{localize "EXPANSE.Description"}}</span>
            </div>
            <div class="shields-desc-box">
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>
        </div>

    </div>

</form> 