<form class="{{cssClass}} item" autocomplete="off">

    <div class="ship-box">

        <div class="ship-image">
            <img class="ship-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>

        <div class="ship-block">

            <div class="ship-row">
                <div class="ship-name ship-input">
                    <label for="name" class="info-label">{{localize "EXPANSE.Name" }}</label>
                    <input class="info-input" type="text" name="name" value="{{actor.name}}" data-dtype="String" />
                </div>
                <div class="ship-type ship-input">

                    <label for="system.type" class="info-label">{{localize "EXPANSE.Size" }}</label>
                    <input class="info-input" type="text" name="system.type" value="{{actor.system.type}}"
                        data-dtype="String" />
                </div>
                <div class="ship-drive ship-input">
                    <label for="system.drive" class="info-label">{{localize "EXPANSE.ShipDrive" }}</label>
                    <input class="info-input" type="text" name="system.drive" value="{{actor.system.drive}}"

                        data-dtype="String" />
                </div>
            </div>

            <div class="ship-row">
                <div class="ship-senhulcre">
                    <div class="ship-input">

                        <label for="system.sensors" class="info-label">{{localize "EXPANSE.Sensors" }}</label>
                        <input class="info-input" type="text" name="system.sensors" value="{{actor.system.sensors}}"
                            data-dtype="String" />
                    </div>
                    <div class="ship-input">
                        <label for="system.hull" class="info-label">{{localize "EXPANSE.Hull" }}</label>
                        <input class="info-input" type="text" name="system.hull" value="{{actor.system.hull}}"
                            data-dtype="String" />
                    </div>
                    <div class="ship-input">
                        <label for="system.crew" class="info-label">{{localize "EXPANSE.Crew" }}</label>
                        <input class="info-input" type="text" name="system.crew" value="{{actor.system.crew}}"

                            data-dtype="String" />
                    </div>
                </div>
                <div class="ship-weapons">
                    <label class="info-label">{{localize "EXPANSE.Weapons" }}</label>
                    <div class="weapon-inputs">
                        <input class="info-input" type="text" name="system.weapon1" value="{{actor.system.weapon1}}"
                            data-dtype="String" />
                        <input class="info-input" type="text" name="system.weapon2" value="{{actor.system.weapon2}}"
                            data-dtype="String" />
                        <input class="info-input" type="text" name="system.weapon3" value="{{actor.system.weapon3}}"
                            data-dtype="String" />
                        <input class="info-input" type="text" name="system.weapon4" value="{{actor.system.weapon4}}"
                            data-dtype="String" />
                    </div>
                </div>
            </div>

            <div class="ship-row ship-input">

                <label for="system.quality" class="info-label">{{localize "EXPANSE.Qualities" }}</label>
                <input class="info-input" type="text" name="system.quality" value="{{actor.system.quality}}"
                    data-dtype="String" />
            </div>
            <div class="ship-row ship-input">
                <label for="system.flaw" class="info-label">{{localize "EXPANSE.Flaw" }}</label>
                <input class="info-input" type="text" name="system.flaw" value="{{actor.system.flaw}}"

                    data-dtype="String" />
            </div>

            <div class="ship-notes-box">

                <div class="box-header">
                    <span>{{localize "EXPANSE.Description" }} & {{localize "EXPANSE.Notes" }}</span>
                </div>

                <div class="ship-notes-container">
                    {{editor enrichment.system.notes target="system.notes" button=true owner=owner editable=true}}
                </div>
            </div>

            <div class="crew-box">
                <div class="box-header">
                    <span class="stunt-header-title">{{localize "EXPANSE.CrewRole" }}</span>
                    <span class="stunt-header-title">{{localize "EXPANSE.Stat" }}</span>
                    <span class="stunt-header-effect">{{localize "EXPANSE.Modifier" }}</span>
                    <span class="stunt-header-blank">{{localize "EXPANSE.CrewMember" }}</span>
                </div>
                <div class="ship-member">
                    <div class="ship-crewrole">
                        <select type="text" name="system.crew1.role" data-dtype="String">
                            {{#select actor.system.crew1.role}}
                            <option value="captain" selected>{{localize "EXPANSE.ship.captain" }}</option>
                            <option value="pilot">{{localize "EXPANSE.ship.pilot" }}</option>
                            <option value="sensors">{{localize "EXPANSE.ship.sensors" }}</option>
                            <option value="gunnary">{{localize "EXPANSE.ship.gunnary" }}</option>
                            <option value="engineer">{{localize "EXPANSE.ship.engineer" }}</option>
                            <option value="other">{{localize "EXPANSE.ship.other" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <input class="ship-crewstat" type="text" name="system.crew1.stat"
                        value="{{actor.system.crew1.stat}}" />

                    <input class="ship-crewmod" type="number" placeholder="0" name="system.crew1.modValue"
                        value="{{actor.system.crew1.modValue}}" />

                    <input class="ship-crewname" type="text" name="system.crew1.name"
                        value="{{actor.system.crew1.name}}" />
                </div>

                <div class="ship-member">
                    <div class="ship-crewrole">
                        <select type="text" name="system.crew2.role" data-dtype="String">
                            {{#select actor.system.crew2.role}}
                            <option value="pilot">{{localize "EXPANSE.ship.pilot" }}</option>
                            <option value="captain">{{localize "EXPANSE.ship.captain" }}</option>
                            <option value="sensors">{{localize "EXPANSE.ship.sensors" }}</option>
                            <option value="gunnary">{{localize "EXPANSE.ship.gunnary" }}</option>
                            <option value="engineer">{{localize "EXPANSE.ship.engineer" }}</option>
                            <option value="other">{{localize "EXPANSE.ship.other" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <input class="ship-crewstat" type="text" name="system.crew2.stat"
                        value="{{actor.system.crew2.stat}}" />

                    <input class="ship-crewmod" type="number" placeholder="0" name="system.crew2.modValue"
                        value="{{actor.system.crew2.modValue}}" />

                    <input class="ship-crewname" type="text" name="system.crew2.name"
                        value="{{actor.system.crew2.name}}" />
                </div>

                <div class="ship-member">
                    <div class="ship-crewrole">
                        <select type="text" name="system.crew3.role" data-dtype="String">
                            {{#select actor.system.crew3.role}}
                            <option value="sensors">{{localize "EXPANSE.ship.sensors" }}</option>
                            <option value="captain">{{localize "EXPANSE.ship.captain" }}</option>
                            <option value="pilot">{{localize "EXPANSE.ship.pilot" }}</option>
                            <option value="gunnary">{{localize "EXPANSE.ship.gunnary" }}</option>
                            <option value="engineer">{{localize "EXPANSE.ship.engineer" }}</option>
                            <option value="other">{{localize "EXPANSE.ship.other" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <input class="ship-crewstat" type="text" name="system.crew3.stat"
                        value="{{actor.system.crew3.stat}}" />

                    <input class="ship-crewmod" type="number" placeholder="0" name="system.crew3.modValue"
                        value="{{actor.system.crew3.modValue}}" />

                    <input class="ship-crewname" type="text" name="system.crew3.name"
                        value="{{actor.system.crew3.name}}" />
                </div>

                <div class="ship-member">
                    <div class="ship-crewrole">
                        <select type="text" name="system.crew4.role" data-dtype="String">
                            {{#select actor.system.crew4.role}}
                            <option value="gunnary">{{localize "EXPANSE.ship.gunnary" }}</option>
                            <option value="captain">{{localize "EXPANSE.ship.captain" }}</option>
                            <option value="pilot">{{localize "EXPANSE.ship.pilot" }}</option>
                            <option value="sensors">{{localize "EXPANSE.ship.sensors" }}</option>
                            <option value="engineer">{{localize "EXPANSE.ship.engineer" }}</option>
                            <option value="other">{{localize "EXPANSE.ship.other" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <input class="ship-crewstat" type="text" name="system.crew4.stat"
                        value="{{actor.system.crew4.stat}}" />

                    <input class="ship-crewmod" type="number" placeholder="0" name="system.crew4.modValue"
                        value="{{actor.system.crew4.modValue}}" />

                    <input class="ship-crewname" type="text" name="system.crew4.name"
                        value="{{actor.system.crew4.name}}" />
                </div>

                <div class="ship-member">
                    <div class="ship-crewrole">
                        <select type="text" name="system.crew5.role" data-dtype="String">
                            {{#select actor.system.crew5.role}}
                            <option value="engineer">{{localize "EXPANSE.ship.engineer" }}</option>
                            <option value="captain">{{localize "EXPANSE.ship.captain" }}</option>
                            <option value="pilot">{{localize "EXPANSE.ship.pilot" }}</option>
                            <option value="sensors">{{localize "EXPANSE.ship.sensors" }}</option>
                            <option value="gunnary">{{localize "EXPANSE.ship.gunnary" }}</option>
                            <option value="other">{{localize "EXPANSE.ship.other" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <input class="ship-crewstat" type="text" name="system.crew5.stat"
                        value="{{actor.system.crew5.stat}}" />

                    <input class="ship-crewmod" type="number" placeholder="0" name="system.crew5.modValue"
                        value="{{actor.system.crew5.modValue}}" />

                    <input class="ship-crewname" type="text" name="system.crew5.name"
                        value="{{actor.system.crew5.name}}" />
                </div>

                <div class="ship-member">
                    <div class="ship-crewrole">
                        <select type="text" name="system.crew6.role" data-dtype="String">
                            {{#select actor.system.crew6.role}}
                            <option value="other">{{localize "EXPANSE.ship.other" }}</option>
                            <option value="captain">{{localize "EXPANSE.ship.captain" }}</option>
                            <option value="pilot">{{localize "EXPANSE.ship.pilot" }}</option>
                            <option value="sensors">{{localize "EXPANSE.ship.sensors" }}</option>
                            <option value="gunnary">{{localize "EXPANSE.ship.gunnary" }}</option>
                            <option value="engineer">{{localize "EXPANSE.ship.engineer" }}</option>
                            {{/select}}
                        </select>
                    </div>
                    <input class="ship-crewstat" type="text" name="system.crew6.stat"
                        value="{{actor.system.crew6.stat}}" />

                    <input class="ship-crewmod" type="number" placeholder="0" name="system.crew6.modValue"
                        value="{{actor.system.crew6.modValue}}" />

                    <input class="ship-crewname" type="text" name="system.crew6.name"
                        value="{{actor.system.crew6.name}}" />
                </div>
            </div>

        </div>
    </div>

</form>