<form class="{{cssClass}} " autocomplete="off">

    <header class="sheet-header">
    </header>

    <section class="sheet-body">

        <div class="talents" data-group="primary" data-tab="talents">

            <div class="talents-box" data-item-id="{{_id}}">

                <div class="talents-section">
                    <div class="talents-name-block">
                        <div class="talents-titles">
                            <span class="margin-l-5" name="name">{{name}}</span>
                        </div>

                        <div class="talents-titles" style="align-self:center;">
                            <span>{{localize "EXPANSE.talent.Specialization"}}</span>
                            <input type="checkbox" class="expanse-checkbox learn-specialization" name="data.specialization"
                                data-item-id={{_id}} {{checked data.specialization}}>
                        </div>

                    </div>
                    <div class="talents-requirement-block">
                        <div class="talents-titles">
                            <span class="margin-l-5">{{localize "EXPANSE.talent.Requirements"}}:</span>
                        </div>
                        <div class="talents-requirements">
                            {{editor content=requirement target="requirement" button=true owner=owner
                            editable=editable}}
                        </div>
                    </div>
                </div>

                <div class="talents-section">
                    <div class="talents-degree-block">
                        <div class="talents-degree-titles">
                            <input type="checkbox" class="expanse-checkbox learn-talent" name="data.ranks.novice.active"
                                data-item-id={{_id}} {{checked data.ranks.novice.active}}>
                            <span>{{localize "EXPANSE.talent.Novice"}}</span>
                        </div>
                        <div class="talents-effect">
                            {{editor content=data.ranks.novice.effect target="data.ranks.novice.effect" button=true
                            owner=owner editable=editable}}
                        </div>
                    </div>
                </div>

                <div class="talents-section">
                    <div class="talents-degree-block">
                        <div class="talents-degree-titles">
                            <input type="checkbox" class="expanse-checkbox learn-talent" name="data.ranks.expert.active"
                                data-item-id={{_id}} {{checked data.ranks.expert.active}}>
                            <span>{{localize "EXPANSE.talent.Expert"}}</span>
                        </div>
                        <div class="talents-effect">
                            {{editor content=data.ranks.expert.effect target="data.ranks.expert.effect" button=true
                            owner=owner editable=editable}}
                        </div>
                    </div>
                </div>

                <div class="talents-section">
                    <div class="talents-degree-block">
                        <div class="talents-degree-titles">
                            <input type="checkbox" class="expanse-checkbox learn-talent" name="data.ranks.master.active"
                                data-item-id={{_id}} {{checked data.ranks.master.active}}>
                            <span>{{localize "EXPANSE.talent.Master"}}</span>
                        </div>
                        <div class="talents-effect">
                            {{editor content=data.ranks.master.effect target="data.ranks.master.effect" button=true
                            owner=owner editable=editable}}
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>
</form>