<form class="{{cssClass}} item" autocomplete="off">

    <div class="weapons-box">
        <div class="weapons-header-box">
            <div class="weapons-header-block">
                <input name="name" type="text" value="{{name}}" data-dtype="String" />
            </div>
        </div>

        <div class="item weapons-block">
            <div class="box-header">
                <span class="">{{localize "EXPANSE.Type" }}</span>
                <span class="">{{localize "EXPANSE.DamageDice" }}</span>
                <span class="">{{localize "EXPANSE.Modifier" }}</span>
            </div>

            <div class="weapons-detail-box">

                <div class="weapons-attribute">
                    <select type="text" name="data.type" data-dtype="String">
                        {{#select data.type}}
                        <option value="unarmed" mod-type="fighting">{{localize "EXPANSE.Unarmed" }}</option>
                        <option value="makeshift" mod-type="fighting">{{localize "EXPANSE.Makeshift" }}</option>
                        <option value="light_melee" mod-type="fighting">{{localize "EXPANSE.LightMelee" }}</option>
                        <option value="heavy_melee" mod-type="fighting">{{localize "EXPANSE.HeavyMelee" }}</option>
                        <option value="pistol" mod-type="accuracy">{{localize "EXPANSE.Pistol" }}</option>
                        <option value="rifle" mod-type="accuracy">{{localize "EXPANSE.Rifle" }}</option>
                        <option value="grenade">{{localize "EXPANSE.Grenade" }}</option>
                        {{/select}}
                    </select>
                </div>

                <div class="weapons-attribute">
                    <input class="weapons-attribute-input" type="number" name="data.damage" value="{{data.damage}}" />
                    <select type="number" name="data.dieFaces" value="{{data.dieFaces}}" data-dtype="Number">
                        {{#select data.dieFaces}}
                        <option value="6">D6</option>
                        <option value="3">D3</option>
                        {{/select}}
                    </select>
                </div>

                <div class="weapons-attribute">
                    <select type="text" name="data.modifier" value="{{data.modifier}}" data-dtype="String">
                        {{#select data.modifier}}
                        <option value="None">{{localize "EXPANSE.None" }}</option>
                        <option value="Strength">{{localize "EXPANSE.strength" }}</option>
                        <option value="Dexterity">{{localize "EXPANSE.dexterity" }}</option>
                        <option value="Perception">{{localize "EXPANSE.perception" }}</option>
                        <option value="Manual">{{localize "EXPANSE.Manual" }}</option>
                        {{/select}}
                    </select>

                    {{#ifCond data.modifier '===' "Manual"}}
                    <input class="weapons-attribute-input" type="number" name="data.manualDamage"
                        value="{{data.manualDamage}}" data-dtype="Number" />
                    {{/ifCond}}
                </div>
            </div>
        </div>
        <div class="item weapons-block">
            <div class="box-header">
                <span class="">{{localize "EXPANSE.Qualities" }}</span>
                <span class="">{{localize "EXPANSE.Range" }}</span>
                <span class="">{{localize "EXPANSE.MaxRange" }}</span>
                <span class="">{{localize "EXPANSE.Cost" }}</span>
            </div>

            <div class="weapons-detail-box">
                <div class="weapons-attribute">
                    <input type="text" name="data.quality" value="{{data.quality}}" data-dtype="String" />
                </div>

                <div class="weapons-attribute">
                    <input type="text" name="data.rangemin" value="{{data.rangemin}}" data-dtype="String" />
                </div>

                <div class="weapons-attribute">
                    <input type="text" name="data.rangemax" value="{{data.rangemax}}" data-dtype="String" />
                </div>

                <div class="weapons-attribute">
                    <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
                </div>
            </div>
        </div>

        <div class="weapons-desc-block">
            <div class="box-header">
                <span class="">Description</span>
            </div>
            <div class="weapons-desc-box">
                {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
            </div>
        </div>

    </div>

</form>