/**********
* Armor   *
**********/

.window-app.armors .window-resizable-handle {
    display: none;
}

.armors .armors-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 450px;
    margin: 0px 5px 0px 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #f3f3f3;
}

.armors .armors-header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #D6E7ED;
}

.armors .armors-header-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #005971;
    border-top-left-radius: 10px;
    color: whitesmoke;
}

.armors .armors-header-block input[type=text] {
    font-size: 100%;
    line-height: 100%;
    color: whitesmoke;
    border: none;
}

.armors .armors-header-block > span {
    font-size: 100%;
    line-height: 100%;
}

.armors .armors-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D6E7ED;
}

.armors .armors-detail-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.armors .armors-detail-box input[type=text], select {
    display: flex;
    height: 27px;
    border: none;
}

.armors .armors-attribute {
    display: flex;
    justify-content: center; 
}

.armors .armors-desc-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height:100px;
    border-bottom-right-radius: 10px;
}

.armors .armors-desc-box {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.armors .armors-desc-box .editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
    font-family: inherit;
    text-align: left;
}

.armors .armors-desc-box .editor-content {
padding: 5px;
}

.armors .hidden-value {
    display: none;
}

/**********
* Shields *
**********/

.armors .shields-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    margin: 0px 5px 0px 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #f3f3f3;
}

.armors .shields-header-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #D6E7ED;
}

.armors .shields-header-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    background-color: #005971;
    border-top-left-radius: 10px;
    color: whitesmoke;
}

.armors .shields-header-block input[type=text] {
    font-size: 100%;
    line-height: 100%;
    color: whitesmoke;
    border: none;
}

.armors .shields-header-block > span {
    font-size: 100%;
    line-height: 100%;
}

.armors .shields-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: #D6E7ED;
}

.armors .shields-detail-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.armors .shields-detail-box input[type=text], select {
    display: flex;
    height: 27px;
    border: none;
}

.armors .shields-attribute {
    display: flex;
    justify-content: center; 
}

.armors .shields-desc-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height:100px;
    border-bottom-right-radius: 10px;
}

.armors .shields-desc-box {
    display: flex;
    flex-direction: column;
    height: 150px;
}

.armors .shields-desc-box .editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
    font-family: inherit;
    text-align: left;
}

.armors .shields-desc-box .editor-content {
padding: 5px;
}

.armors .hidden-value {
    display: none;
}

