/*ul {
    margin: 0;
    padding: 0;
}*/

.ship .ship-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 450px;
    max-height: none !important;
    margin: 0px 5px 0px 5px;
    background-color: rgba(116,189,220, 0.5);
}

.ship .ship-image {
    display: flex;
    justify-content: center;
    height: 300px;
    /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .6);*/
}

.ship .ship-image img {
    display: flex;
    height: 300px;
}

.ship .ship-block {
    padding: 10px;
}

.ship .ship-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ship .ship-input {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.ship .ship-name {
    width: 40%;
}
.ship .ship-type {
    width: 25%;
}

.ship .ship-drive {
    width: 33%;
}

.ship .ship-row > label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: black;
    white-space: nowrap;
    padding: 5px;
}
  
.ship .ship-row input[type=text] {
    font-weight: bold;
    text-align: start;
    border: none;
    background-color: #f3f3f3;
    height: 100%;
    padding-left: 5px;
    border-bottom-right-radius: 10px;
}

.ship .ship-senhulcre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26%;
    height: 100px;
}

.ship .ship-weapons {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    width: 100%;
    height: 100px;
}

.ship .weapon-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ship .weapon-inputs > input[type=text] {
    height: 25px;
    margin-bottom: 2px;
}

.ship .ship-notes-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height:100px;
    margin: 0px 0px 10px 0px;
    background-color: #f3f3f3;
}

.shi .ship-notes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ship .ship-notes-container .editor {
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    text-align: justify;
    /*font-family: 'Montserrat', sans-serif;*/
    padding: 5px;
}

.ship .crew-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #D6E7ED;
}

.ship .ship-member {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 5px 0;
}

.ship .ship-crewrole {
    display: flex;
    width: 23%;
    background-color: transparent;
    justify-content: center;
}

.ship .ship-crewstat {
    display: flex;
    width: 23%;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}

.ship .ship-crewmod {
    display: flex;
    width: 23%;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}

.ship .ship-crewname {
    display: flex;
    width: 23%;
    border: none;
    background-color: rgba(0, 0, 0, .05);
}
